@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Lato&family=Roboto:wght@300;400&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Lora&family=Montserrat+Alternates&family=Playfair+Display&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Crimson Text', serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Space Mono', monospace;
}

:root {
    --principal: rgb(248, 171, 29);
}

.header {
    height: 8vh;
    
.header__nav {
    display: flex;
    align-items: center;
    height: 8vh;
    justify-content: space-between;
}

.header__logo {
    margin-left: 3%;
    font-size: 30px;
}

.header__caja{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.header__links {
    margin: 0 10px;
    font-size: 18px;
    color: black;
}
.header__links:hover {
    cursor: pointer;
    color: rgb(255, 166, 0);
    border-bottom: 1px solid;
}

.header__contactanos {
    background-color: #f8ab1d;
    border: none;
    height: 35px;
    width: 100px;
    border-radius: 5px;
    margin-right: 20px;
}

.header__contactanos:hover{
    cursor: pointer;
    border-radius: 20px;
    transition: 1s;
}

.header__menu {
    height: 40px;
    display: none;
}
@media(max-width:790px) {
    .header__nav {
        justify-content: space-evenly;
    }
    .header__caja {
        display: none;
    }
    .header__menu {
        display: block;
    }
}
}

/* SECCION N1 SECCION N1*/
.hero {
    height: 92vh;
    background: url(assets/Proyecto\ nuevoa.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
.hero__caja {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero__caja--titulo {
    text-align: center;
    margin-bottom: 50px;
}

.hero__h1 {
    font-size: 40px;
    color: rgb(255, 255, 255);
}

.hero__caja--botones {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    height: 15%;
    align-items: flex-start;
}

.hero__botones:first-child {
    background-color: #f8ab1d;
}

.hero__botones{
    margin-left: 5px;
    height: 40px;
    width: 100px;
    background-color: white;
    border: none;
    border-radius: 10px;
}
.hero__botones:hover {
    background-color: #f8ab1d;
    cursor: pointer;
    transition: 0.5s;
}

.hero__buscador {
    border-radius: 20px;
    display: flex;
    padding-right: 20px;
    height: 70px;
    background-color: rgb(255, 255, 255);
}


.hero__localidad {
    margin-left: 20px;
    display: flex;
    height: 100%;
}

.hero__localidad select {
    background-color: white;
    border: none;
}

.hero__lupa input {
    width: 325px;
    height: 100%;
    border: none;
    margin-left: 30px;
}

.hero__imagen {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero__buscador img {
    width: 40px;
    height: 40px;
}

@media (max-width:700px) {
    .hero__localidad{
        height: 50px;
    }
    .hero__buscador img{
        display: none;
    }
    .hero__lupa input{
        margin-left: 0;
        width: 300px;
    }
    .hero__buscador {
        padding: 0;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        width: 310px;
        height: 150px;
    }
}

}

input, select {
    outline-style: none;
}

/*SECCION 2 SECCION2*/

.inversiones {
    height: 100%;
    
.inversiones__h2 {
    text-align: center;
    margin: 50px 0;
    font-size: 40px;
}

.inversiones__caja {
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.inversiones__caja--cartas {
    width: 25%;
    background-color: #222220;
    border-radius: 10px;
}

.inversiones__imagen {
    border-radius: 10px;
    width: 100%;
}
@media(max-width: 780px) {
    .inversiones__caja{
        flex-direction: column;
    }
    .inversiones__caja--cartas{
        margin-top: 20px;
        width: 55%;
    }
}
@media(max-width: 780px){
    .inversiones__caja--cartas{
        width: 100%;
    }
}

.inversiones__boton{
    width: 60%;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 10px;
    border-style: none;
    background-color: #f8ab1d;
}

.inversiones__boton:hover{
    border-radius: 10px;
    transition: 1s;
    cursor: pointer;
}

.inversiones__caja--detalles{
    display: flex;
    align-items: center;
}
.inversiones__caja--detalles img{
    width: 20px;
    height: 20px;
}

.inversiones__caja--carta {
    display: flex;
    justify-content: space-evenly;
}

.inversiones__caja--carta img:hover{
    cursor: pointer;
}
.inversiones__caja--carta img {
    width: 35px;
    height: 35px;
}

.inversiones__caja--carta {
    margin: 8px 0;
    display: flex;
}

.localidad_carta {
    font-size: 14px;
    color: rgb(197, 197, 197);
}

.calle_carta {
    color: rgb(187, 187, 187);
}

.contenido_carta {
    margin-left: 10px;
}

}



/* SECCION 3*/

.about {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
    
.about__h3 {
    font-size: 30px;
}


.about__izquierda {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.about__img {
    width:100%;
    border-radius: 10px;
}

.about__texto {
    margin: 25px 0;
}

.about__derecha {
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__label {
    margin-top: 20px;
    display: block;
}

.about__input {
    height: 25px;
    width: 100%;
    border:  1px solid #5f420c;
    border-radius: 5px;
    padding-left: 5px;
}

.about__checkbox input{
    margin-right: 10px;
    width: 15px;
}

.about__checkbox {
    margin: 10px 0;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3d3d3d;
}

.about__consulta {
    height: 100px;
    width: 100%;
    border-radius: 5px;
    border:  1px solid #5f420c;
    resize: none;
    padding-left: 5px;
}

.about__submit {
    width: 100%;
    height: 40px;
    background-color: #f8ab1d;
    border: none;
}
.about__submit:hover {
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
}
@media(max-width: 780px) {
    .about {
        margin-top: 50px;
        grid-template-columns: 100%;
    }
}
